{%extends 'base.html'%}

{%block content%}
<form action="/signup" method='post'>
    <div>
        <h1>Username:</h1>
        {%if error1%}
            <p class='error'>Invalid username</p>
        {%endif%}
        {%if error4%}
            <p class='error'>Username already exists</p>
        {%endif%}
        <input type="text" name="username" />
    </div>
    <div>
        <h1>Password:</h1>
        {%if error2%}
            <p class='error'>Invalid password</p>
        {%endif%}
        <input type="password" name="password" />
    </div>
    <div>
        <h1>Verify Password:</h1>
        {%if error3%}
            <p class='error'>Passwords did not match</p>
        {%endif%}
        <input type="password" name="passwordVerify" />
        </div>
    <input type="submit" name="Submit"/>
</form>
{%endblock%}